

.standart-btn{
    font-family: 'Roboto-Medium';
    height:30px;
    line-height: 30px;
    border:1px solid $whiteColor;
    color:$whiteColor;
    @include borderRadius(18px);
    display: inline-block;
    padding: 0px 15px;
    font-size:16px;
    cursor: pointer;
}
.standart-link{
    text-decoration:underline ;
    font-family: 'Roboto-Medium';
    color:$whiteColor;
    font-size:14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.standart-title{

}
header{
    position:fixed;
    z-index: 12;
    width:100%;
    padding:30px 0px;
    .employer-login{
        @extend .standart-btn;
    }
     .register-btn{
        @extend .standart-btn;
     }
     .login-btn{
        @extend .standart-btn;
        margin-left:20px;
     }
}

.banner-section{
    height: 70vh;
    background-color: $orangeColor;
    width: 100%;
    position: relative;
    display: flex;
    .banner-search{
        .search-section{
            display: flex;
            margin-bottom:50px;
            form{
                display: flex;
                width: 100%;
            }
            .search-input{
                flex: 1 1;
                display: flex;
                i{
                    margin:16px 0px 0px 16px;
                    font-size:24px;
                    color:$greyColor;
                    position: absolute;
                }
                input[type=text]{
                    height: 56px;
                    line-height: 56px;
                    background-color: $whiteColor;
                    @include borderRadius(28px);
                    border:0px;
                    width: 100%;
                    color:$greyColor;
                    padding-left: 56px;
                    &::placeholder{
                        font-size: 18px;
                        color:$greyColor;
                    }
                    &:focus{
                        //outline:1px solid $greyColor;
                        outline: none;
                        @include borderRadius(28px);
                        box-shadow: 0 0 3pt 2pt cornflowerblue;
                    }
                }
            }
            .search-btn-section{
                .detail-search{
                    @extend .standart-link;
                    text-align: center;
                    margin: 10px 0px 0px 30px;
                    height: 18px;
                    line-height: 18px;
                }
            }
            input[type=submit]{
                margin-left:30px;
                height: 56px;
                line-height: 56px;
                background-color: $blueColor;
                @include borderRadius(28px);
                border:0px;
                display: inline-block;
                padding:0px 3rem;
                color:$whiteColor;
            }
        }
    }

}

.most-search-section{
    background-color: $greyColorOpacity05;
    
    .mostsearch-inside{
        display: flex;
        overflow: hidden;
        .most-search-title{
            width: 163px;
            height: 25px;
            margin: 36px 32px 35px 0;
            font-family:"Roboto-Black";
            font-size: 20px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $wightGreyColor;
            flex: none;
        }
        .most-search{
            display: flex;
            .mostsearch-tag{
                cursor: pointer;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color:$wightGreyColor;
                padding:0px 3rem;
                height: 50px;
                line-height: 50px;
                border-radius: 28px;
                border: solid 1px $borderGreyColor;
                background-color: $lightGreyColor;
            }
        }
    }
}

.job-adv-section{
    margin-top:40px;
    position: relative;
    .jobadv-left{
        position: absolute;
        left:0px;
        top:0px;
        background-repeat: no-repeat;
        width:338px;
        img{
            width: 100%;
        }
    }
    .jobadv-right{
        position: absolute;
        right:0px;
        bottom:0px;
        background-repeat: no-repeat;
        width:202px;
        img{
            width: 100%;
        }
    }
    .job-main-title{
        
        h3{
            font-family:"Roboto-Black";
            font-size: 20px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $wightGreyColor;
            margin-bottom:15px;
        }
    }
    .job-adv{
        background-color: $whiteColor;
        border:1px solid $cccGreyColor;
        @include borderRadius(8px);
        position: relative;

        .owl-prev,
        .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background-color: $navGreyColor !important;
        @include borderRadius(8px);
        color:$whiteColor !important;
    
        }

        .owl-prev {
        left: -20px;
        }

        .owl-next {
        right:-20px;
        }
        .job-adv-box{
            text-align: center;
            padding: 20px;  
            margin: 15px 0px;
            border-right: solid 1px $greyColorOpacity02;
            .job-title{
                font-family:"Roboto-Black";
                font-size: 20px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $wightGreyColor;
                margin-bottom:5px;
            }
            .brand{
                font-family: 'Roboto-Medium';
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $lightBlueColor;
                margin-bottom:14px;
            }
            .brand-img{
                text-align: center;
                img{
                    display: inline-block;
                    width: 110px;
                    height: auto;
                }
            }
        }
    }
}

.home-profile{
    margin:40px 0px;
    .profile-box{
        @include borderRadius(8px);
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
        }
        .profile-bottom{
            position: absolute;
            bottom:0px;
            background-color: $blackColoropacity03;
            width:100%;
            height: 55px;
            .left-link{
                margin-top:16px;
                height:23px;
                width: 50%;
                float: left;
                text-align: center;
                a{
                    font-family: 'Roboto-Regular';
                    font-size: 18px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: $whiteColor;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                        font-family: 'Roboto-Black';
                        font-weight: 900;
                    }
                }
            }
            .right-link{
                border-left: solid 1px $whiteColor;
                margin-top:16px;
                height:23px;
                width: 50%;
                text-align: center;
                float: left;
                a{
                    font-family: 'Roboto-Regular';
                    font-size: 18px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: $whiteColor;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                        font-family: 'Roboto-Black';
                        font-weight: 900;
                    }
                }
            }
        }
    }
}