$whiteColor:#ffffff;
$blackColor:#000000;
$blackColoropacity03: rgba(0, 0, 0, 0.3);
$orangeColor:#ff8100;
$blueColor:#4361ee;
$lightBlueColor:#6b7998;
$greyColor:#808285;
$brandColor:#f7f6f6;
$wightGreyColor:#666768;
$cccGreyColor:#cccccc;
$navGreyColor:#797674;
$greyColorOpacity05:rgba(107, 121, 152, 0.05);
$greyColorOpacity02:rgba(107, 121, 152, 0.2);
$lightGreyColor:#e9e9e9;
$borderGreyColor:rgba(191, 191, 191, 0.7);







@mixin borderRadius($borderval)
{
  -webkit-border-radius: $borderval;
  -moz-border-radius:$borderval ;
  border-radius:$borderval ;

}

@mixin borderRadiusaAll($bordervaltop,$bordervalright,$bordervalbottom,$bordervalleft)
{
  -webkit-border-top-left-radius: $bordervaltop;
  -moz-border-top-left-radius:$bordervaltop ;
  border-top-left-radius:$bordervaltop ;

  -webkit-border-top-right-radius: $bordervalright;
  -moz-border-top-right-radius:$bordervalright ;
  border-top-right-radius:$bordervalright ;

  -webkit-border-bottom-right-radius: $bordervalbottom;
  -moz-border-bottom-right-radius:$bordervalbottom ;
  border-bottom-right-radius:$bordervalbottom ;

  -webkit-border-bottom-left-radius: $bordervalleft;
  -moz-border-bottom-left-radius:$bordervalleft ;
  border-bottom-left-radius:$bordervalleft ;

}